/* ! Images used are copyright free from pexels.com & freepik.com */
/* Some of them are directly taken from the current Visiple website to keep some of the content from the main website */
/* Resets all CSS properties */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* custom scroll bar */

::-webkit-scrollbar {
    width: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: grey;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.815);
    border-radius: 10px;
}

/* Body styles */

body {
    font-family: 'Montserrat', sans-serif;
}

.index-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-position-y: -50px;
    background-size: 100%;
    background-image: url(images/index-background-reverted2.jpg);
    background-repeat: no-repeat;
}

.about-body h1,
.about-body h2,
.about-body h3 {
    font-weight: 500;
}

.about-body hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.body-pricing {
    background-color: #5c539d;
}

.signup-body {
    position: relative;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/login-background.jpg);
}

#contact-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whyus-body h1,
.whyus-body h2,
.whyus-body h3 {
    font-weight: 500;
}

.whyus-body hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* navbar */

nav {
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 1%;
    background: transparent;
}

nav img {
    width: 45%;
    position: relative;
}

.nav-ulist {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.nav-ulist a {
    color: #fff;
    font-size: 17px;
    margin-left: 22.5px;
    transition: all .55s ease;
    position: relative;
    padding-bottom: 2.15px;
}

.nav-ulist a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.95px;
    background-color: rgb(255, 255, 255);
    bottom: 0px;
    left: 0;
    transition: all 0.3s ease;
}

.nav-ulist a:hover:before {
    width: 100%;
}

.nav-ulist a:hover {
    cursor: pointer;
}

.nav-ulist ion-icon {
    color: #fff;
    margin-left: 20px;
    margin-bottom: 5px;
}

.nav-ulist ion-icon:hover {
    cursor: pointer;
}

#menu-icon {
    color: #fff;
    font-size: 34.5px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

/* Nav recolor for contact page */

.contact-nav .nav-ulist a {
    color: #000;
}

.contact-nav .nav-ulist a:before {
    background-color: #000;
}

.contact-nav .nav-ulist a:hover:before {
    width: 100%;
}

.nav-ulist a:hover:before {
    width: 100%;
}

/* index page */

.main-head {
    display: flex;
    justify-content: center;
    margin-top: 12%;
    height: 64vh;
    text-transform: uppercase;
    width: 100%;
}

.main-head h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 45px;
    position: relative;
    line-height: 3rem;
    text-align: center;
    font-weight: 500;
}

.line-break {
    line-break: strict;
}

.main-head h4 {
    color: #fff;
    font-weight: 500;
}

.index-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divider {
    width: 80px;
    background: #ffffff;
    height: 1px;
    display: block;
    margin: 20px auto;
}

.index-buttons-parent {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-top: 5%;
}

.btn {
    border-radius: 0;
    font-size: 13px;
    padding: 15px 40px;
    transition: all 0.3s;
}

.btn-lg {
    padding: 25px 50px;
}

.btn-lg.btn-primary {
    border-width: 2px;
}

.btn-primary {
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:focus {
    background: #ffffff;
    color: #000000;
    border-color: #ffffff;
}

/* footer index */

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: auto;
    backdrop-filter: blur(0.5px);
    background-color: rgba(230, 230, 230, 0.027);
}

.footer-ulist {
    display: flex;
    list-style: none;
    margin-top: auto;
}

.footer-ulist a {
    color: rgba(255, 255, 255, 0.644);
    font-size: 13px;
    margin-left: 35px;
    transition: all .55s ease;
}

/* about page */

.about-container {
    position: relative;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/about_img.jpg);
    background-position-y: -50px;
    background-attachment: fixed;
}

.about-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.275);
}

.about-info {
    position: relative;
    height: 89.8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-top: 1%;
}

.about-info-main {
    text-align: center;
}

.about-info h1 {
    font-size: 45px;
    margin-top: 1.25%;
    font-weight: 600;
}

.about-container h2 {
    font-weight: normal;
    font-size: 17px;
}

.about-info-goals {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.about-info-goals h3 {
    margin-top: 4.5%;
}

.about-socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 50px;
    text-align: center;
    transition: all .4s ease;
    margin-top: auto;
    margin-bottom: 10px;
}

.about-socials a {
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    color: #fff;
    border-radius: 50px;
    background-color: #333333af;
    transition: all .4s ease;
    text-decoration: none;
}

.about-socials a:hover {
    color: rgba(255, 255, 255, 0.74);
    transform: translateY(-3px);
    text-decoration: none;
}

.about-info-parent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-info-parent img {
    width: 100%;
    height: 100%;
}

.about-info-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 920px;
    width: 50%;
}

.about-info-txt p {
    text-align: center;
    margin-top: 3.5%;
    line-height: 30px;
    height: 500px;
    width: 80%;
}

.about-locations-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-locations-parent {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    height: 500px;
    width: 100%;
}

.about-locations-info {
    text-align: center;
}

.about-locations-info-container {
    margin-top: -4.55%;
}

.about-locations-info h2 {
    font-size: 17px;
    margin-top: 4.25%;
}

.about-locations-info p {
    font-size: 12px;
}

.locations-img img {
    width: 95%;
}

/* footer */

.footer {
    color: #fff;
    background-color: #3C3D41;
    height: 256px;
}

.footer-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info {
    height: 100%;
    width: 66%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info h5 {
    font-size: 20px;
    font-weight: 600;
}

.footer-info .row {
    height: 50%;
    margin-top: 2.25%;
}

.footer-info .row a {
    color: rgba(255, 255, 255, 0.808);
}

.footer-info .row a:hover {
    color: #fff;
}

.footer-info .row ul {
    margin-top: 8%;
    line-height: 27px;
    list-style: none;
}

.footer-info .row li {
    margin-top: 2%;
}

.footer .row1 {
    line-height: 44px;
}

.footer .row1 h3 {
    font-weight: normal;
}

.footer .row1 a {
    color: #fff;
    text-decoration: underline;
}

.footer-logo img {
    width: 75%;
}

.footer-links {
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.footer-links button {
    text-align: center;
    width: 150px;
    padding: 7%;
    border: none;
    border-radius: 20px;
    background-color: #E60062;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin-top: 5%;
    transition: all .4s ease-in-out;
}

.footer-links button:hover {
    cursor: pointer;
    background-color: #e60064c5;
}

.footer-icons {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-icons i {
    color: #fff;
    font-size: 30px;
    transition: all .3s ease-in-out;
}

.footer-icons i:hover {
    color: rgba(255, 255, 255, 0.788);
}

.footer-copyright {
    background-color: #3C3D41;
    color: rgba(255, 255, 255, 0.788);
    font-size: 12px;
    text-align: center;
    height: 20px;
}


/* pricing page */

.pricing-container {
    width: 100%;
    min-height: 100vh;
    background: #5c539d;
}

.pricing-container h1,
.pricing-container h2 {
    color: #fff;
    font-size: 32px;
    padding: 10px 0;
    text-align: center;
    font-weight: 500;
}

.price-row {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    margin-top: 1%;
}

.price-col {
    background: #1f283b;
    padding: 10% 15%;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
}

.price-col p {
    font-size: 22px;
}

.price-col h3 {
    font-size: 44px;
    margin: 20px 0 40px;
    font-weight: 500;
}

.price-col h3 span {
    font-size: 16px;
}

.price-col ul {
    text-align: left;
    margin: 20px 0;
    color: #ddd;
    list-style: none;
}

.price-col ul li {
    margin: 15px 0;
}

.price-col ul li::before {
    content: '\2022';
    color: #e33058;
    font-weight: bold;
    margin-right: 8px;
}

.price-col button {
    width: 100%;
    padding: 14px 0;
    background: transparent;
    color: #fff;
    font-size: 15px;
    border: 1px solid #e33058;
    border-radius: 6px;
    margin-top: auto;
    cursor: pointer;
    transition: background 0.5s;
}

.price-col button:hover {
    background: #e33058;
}

.pricing-trial-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #646464;
}

.pricing-trial-parent h1 {
    color: #fff;
}

.pricing-trial-parent p {
    margin-top: 5px;
    color: #fff;
}

.pricing-trial-parent a {
    margin-top: 1.25%;
}

.pricing-trial-parent button {
    width: 200px;
    padding: 14px 0;
    background: transparent;
    color: #fff;
    font-size: 15px;
    border: 1px solid #e33058;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.5s;
}

.pricing-trial-parent button:hover {
    background: #e33058;
}


/* Login & Signup page */

.container {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.form {
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #ffffff;
}

.form.signup {
    opacity: 0;
    pointer-events: none;
}

.forms.show-signup .form.signup {
    opacity: 1;
    pointer-events: auto;
}

.forms.show-signup .form.login {
    opacity: 0;
    pointer-events: none;
}

header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

form {
    margin-top: 30px;
}

.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}

.field input:focus {
    border-bottom-width: 2px;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button {
    color: #fff;
    background-color: #e33058;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover {
    background-color: #e33057b0;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.form a {
    color: #e33058;
    text-decoration: none;
}

.form-content a:hover {
    text-decoration: underline;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}

.line::before {
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}

.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.facebook {
    color: #fff;
    background-color: #4267b2;
}

a.facebook .facebook-icon {
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.facebook-icon,
img.google-img {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

img.google-img {
    height: 35px;
    width: 22px;
    object-fit: cover;
}

a.google {
    border: 1px solid #CACACA;
}

a.google span {
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}

@media screen and (max-width: 400px) {
    .form {
        padding: 20px 10px;
    }

}

/* Contact page */

.contact-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2%;
}

.contact-section-parent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-header-txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact-header-txt h1 {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 500;
}

.contact-header-txt h3 {
    font-weight: 400;
    font-size: 13px;
    color: #777777;
    text-transform: uppercase;
    margin-top: 0.55%;
}

.contact-header-txt p {
    font-weight: 400;
    font-size: 13px;
    color: #777777;
    width: 70%;
    text-align: center;
    margin-top: 5.5%;
}

.divider2 {
    width: 250px;
    background: #000000;
    height: 1px;
    display: block;
    margin: 20px auto;
}

.contact-info-icons {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 65%;
    margin-top: 2%;
}

.icon-parent {
    width: 240px;
}

.contact-info-icons ion-icon {
    color: #777777;
    font-size: 35px;
}

.contact-info-icons p {
    font-size: 13px;
    color: #5e5e5e;
    margin-top: 6%;
}

.contact-form {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.form-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}

.form-left input {
    border: 1px #7c7c7c solid;
    padding: 14px;
    font-size: 13px;
    height: auto;
    width: 95%;
    border-width: 1px;
    box-sizing: border-box;
}

.form-left input:focus {
    outline: none;
    border: 1.5px #000 solid;
}

.form-right {
    width: 50%;

}

.form-right textarea {
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    border: 1px #7c7c7c solid;
    padding: 14px;
    font-size: 13px;
    box-sizing: border-box;

}

.form-right textarea:focus {
    outline: none;
    border: 1.5px #000000 solid;
}


/* Why Us page */

.whyus-container {
    position: relative;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/about_img.jpg);
    background-position-y: -50px;
    background-attachment: fixed;
}

.whyus-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.275);
}

.whyus-info {
    position: relative;
    height: 89.8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-top: 3%;
}

.whyus-info h1 {
    font-size: 35px;
    font-weight: 500;
}

.whyus-info h2 {
    margin-top: 1%;
    font-size: 20px;
    font-weight: 400;
}

.whyus-info-main {
    text-align: center;
}

.whyus-info-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.whyus-info-txt h3 {
    text-align: center;
    width: 50%;
    margin-top: 3%;
    font-weight: 400;
}

.whyus-quote-container {
    height: 280px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/quote-background.jpg');
    background-size: cover;
    color: #fff;
}

.quote-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quote-container i {
    margin-top: 2%;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    color: #000;
    border-radius: 50px;
    background-color: #fff;
}

.quote-container p {
    text-align: center;
    text-transform: uppercase;
    margin-top: 2%;
}

.quote-container h4 {
    margin-top: 2%;
    font-weight: 500;
}

.visiple-services-parent {
    position: relative;
    width: 100%;
    height: 1080px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-image: url(images/services-background2.jpg);
    background-size: cover;
}

.visiple-services-parent img {
    position: absolute;
    top: 6%;
    right: 14%;
    width: 40%;
}

.whyus-info-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;
}

.info-rows-parent {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.info-row {
    width: 30%;
    height: 30rem;
    border: red solid;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.info-row p {
    width: 70%;
}

.info-row-img {
    width: 50%;
    height: 51%;
    border: red solid;
}

.info-row-img1 {
    background-image: url(images/TechLife-Media.png);
}

.info-row-img2 {
    background-image: url(images/TechLife-Communication.png);
}

.info-row-img3 {
    background-image: url(images/TechLife-RemoteLife.png);
}