/* Resets all CSS properties */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Body styles */

body {
    font-family: 'Poppins';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('images/background_index2.jpg');
    background-position-y: -50px;
    background-size: 100%;
}

nav {
    display: flex;
    justify-content: space-around;

}
nav img {
    width: 65%;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav li {
    color: white;
    font-family: 'Poppins';
    font-size: 25px;
}